/* ==========================================================================
   Search styles - begin
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* ==========================================================================
# Search opener - begin
========================================================================== */
.mkdf-search-opener {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  line-height: 1;
  margin: 0 10px;
  color: #fff;
}

.mkdf-search-opener .mkdf-search-opener-wrapper {
  width: 36px;
  height: 36px;
  display: block;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 3px;
  box-sizing: border-box;
  -webkit-transition: border-color 0.2s ease-out;
  -moz-transition: border-color 0.2s ease-out;
  transition: border-color 0.2s ease-out;
}

.mkdf-search-opener .mkdf-search-opener-wrapper > * {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: inherit;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.mkdf-search-opener .mkdf-search-opener-wrapper > *:before {
  display: block;
  line-height: inherit;
}

.mkdf-search-opener:hover {
  color: #ffcc00;
}

.mkdf-search-opener:hover .mkdf-search-opener-wrapper {
  border-color: #ffcc00;
}

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-search-opener,
.mkdf-light-header .mkdf-top-bar .mkdf-search-opener {
  color: #fff !important;
}

.mkdf-light-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-search-opener:hover,
.mkdf-light-header .mkdf-top-bar .mkdf-search-opener:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-search-opener,
.mkdf-dark-header .mkdf-top-bar .mkdf-search-opener {
  color: #333 !important;
}

.mkdf-dark-header .mkdf-page-header > div:not(.mkdf-sticky-header):not(.fixed) .mkdf-search-opener:hover,
.mkdf-dark-header .mkdf-top-bar .mkdf-search-opener:hover {
  color: rgba(51, 51, 51, 0.8) !important;
}

/* ==========================================================================
# Search opener - end
========================================================================== */
/* ==========================================================================
# Search template style - begin
========================================================================== */
.mkdf-search-page-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 80px;
}

.mkdf-search-page-holder .mkdf-search-page-form {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 30px;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-search-title {
  margin: 0 0 20px;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-search-label {
  display: block;
  font-size: 13px;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-form-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 10px;
  clear: both;
  border-bottom: 1px solid #e1e1e1;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-form-holder .mkdf-column-left {
  display: table-cell;
  vertical-align: top;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-form-holder .mkdf-column-right {
  display: table-cell;
  width: 1%;
  text-align: left;
  vertical-align: top;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-form-holder .mkdf-search-field {
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0 20px 0 3px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: 0;
  vertical-align: middle;
  -webkit-appearance: none;
  box-sizing: border-box;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-form-holder .mkdf-search-field::-webkit-input-placeholder {
  color: inherit;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-form-holder .mkdf-search-field:-moz-placeholder {
  color: inherit;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-form-holder .mkdf-search-field::-moz-placeholder {
  color: inherit;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-form-holder .mkdf-search-field:-ms-input-placeholder {
  color: inherit;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-form-holder .mkdf-search-submit {
  position: relative;
  display: inline-block;
  width: auto;
  height: 40px;
  line-height: 40px;
  padding: 0;
  font-size: 18px;
  color: #5b5a5a;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  vertical-align: middle;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.mkdf-search-page-holder .mkdf-search-page-form .mkdf-form-holder .mkdf-search-submit:hover {
  color: #000000;
}

.mkdf-search-page-holder article {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 30px 0;
  margin: 0;
  border-bottom: 1px solid #e1e1e1;
}

.mkdf-search-page-holder article.sticky .mkdf-post-title a {
  color: #4dc7ed;
}

.mkdf-search-page-holder article.page .mkdf-post-title-area .mkdf-post-info > div.mkdf-post-info-category {
  display: none;
}

.mkdf-search-page-holder article .mkdf-post-content {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mkdf-search-page-holder article .mkdf-post-image {
  display: block;
  float: left;
  width: 130px;
}

.mkdf-search-page-holder article .mkdf-post-image a, .mkdf-search-page-holder article .mkdf-post-image img {
  display: block;
}

.mkdf-search-page-holder article .mkdf-post-title-area {
  min-height: 130px;
  padding: 0 0 0 150px;
}

.mkdf-search-page-holder article .mkdf-post-title-area.mkdf-no-thumbnail {
  padding: 0;
  min-height: inherit;
}

.mkdf-search-page-holder article .mkdf-post-title-area .mkdf-post-title-area-inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.mkdf-search-page-holder article .mkdf-post-title-area .mkdf-post-title-area-inner .mkdf-post-title {
  margin: 0;
}

.mkdf-search-page-holder article .mkdf-post-title-area .mkdf-post-title-area-inner .mkdf-post-excerpt {
  margin: 7px 0 0;
}

.mkdf-search-page-holder .mkdf-blog-pagination {
  margin: 50px 0 0;
}

/* ==========================================================================
# Search template style - end
========================================================================== */
/* ==========================================================================
# Search covers header - start
========================================================================== */
.mkdf-search-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  color: #fff;
  background-color: #000;
  z-index: 115;
}

.mkdf-search-cover .mkdf-container,
.mkdf-search-cover .mkdf-container-inner {
  height: 100%;
  background-color: #000;
}

.mkdf-fixed-header-appear .mkdf-search-cover,
.mkdf-sticky-header-appear .mkdf-search-cover,
.mkdf-mobile-header.mobile-header-appear .mkdf-search-cover {
  position: fixed;
}

.mkdf-fixed-header-appear.admin-bar .mkdf-search-cover,
.mkdf-sticky-header-appear.admin-bar .mkdf-search-cover,
.admin-bar .mkdf-mobile-header.mobile-header-appear .mkdf-search-cover {
  top: 32px;
}

.mkdf-search-cover .mkdf-form-holder-outer {
  display: table;
  width: 100%;
  height: 100%;
}

.mkdf-search-cover .mkdf-form-holder {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  padding: 0 45px;
}

.mkdf-search-cover .mkdf-form-holder-inner {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mkdf-search-cover .mkdf-container-inner .mkdf-form-holder {
  padding: 0;
}

.mkdf-search-cover .mkdf-container-inner .mkdf-search-close {
  right: 0;
}

.mkdf-search-cover input {
  display: inline-block;
  vertical-align: middle;
  width: 90%;
  margin: 0;
  padding: 0;
  float: left;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  background-color: transparent;
  border: 0;
  box-shadow: none;
  outline: none;
  outline-offset: 0;
  border-radius: 0;
}

.mkdf-search-cover input:focus {
  color: #fff;
}

.mkdf-search-cover input::-webkit-input-placeholder {
  color: #fff;
}

.mkdf-search-cover input:-moz-placeholder {
  color: #fff;
}

.mkdf-search-cover input::-moz-placeholder {
  color: #fff;
}

.mkdf-search-cover input:-ms-input-placeholder {
  color: #fff;
}

.mkdf-search-cover input[type="submit"] {
  border: 0 none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;
  visibility: hidden;
}

.mkdf-search-cover .mkdf-search-close {
  position: absolute;
  right: 0;
  top: 50%;
  font-size: 14px;
  line-height: 1em;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.mkdf-search-cover .mkdf-search-close a {
  color: #fff;
  display: inline-block;
  vertical-align: middle;
}

.mkdf-search-cover .mkdf-search-close a * {
  display: block;
  line-height: inherit;
}

.mkdf-search-cover .mkdf-search-close a:hover {
  color: #ffcc00;
}

.mkdf-search-cover.disabled input,
.mkdf-search-cover.disabled input:focus {
  font-weight: normal;
}

/* ==========================================================================
# Search covers header - end
========================================================================== */
/* ==========================================================================
   Search styles - end
   ========================================================================== */

/*# sourceMappingURL=../css/search-map.css.map */
