/* ==========================================================================
   Footer styles - begin
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* ==========================================================================
   #Content bottom styles - begin
   ========================================================================== */
.mkdf-content-bottom .mkdf-content-bottom-inner {
  box-sizing: border-box;
}

.mkdf-content-bottom .mkdf-content-bottom-inner.mkdf-grid {
  padding: 20px 0;
}

.mkdf-content-bottom .mkdf-content-bottom-inner.mkdf-full-width {
  padding: 20px 50px;
}

/* ==========================================================================
   #Content bottom styles - end
   ========================================================================== */
/* ==========================================================================
   Footer style - begin
   ========================================================================== */
.mkdf-page-footer {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  z-index: 100;
  box-sizing: border-box;
}

.mkdf-page-footer .mkdf-footer-top-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  background-color: #000000;
  box-sizing: border-box;
  color: #9c9c9c;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-alignment-center {
  text-align: center;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-alignment-left {
  text-align: left;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-alignment-right {
  text-align: right;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-inner {
  box-sizing: border-box;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-inner.mkdf-grid {
  padding: 105px 0 85px;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-inner.mkdf-full-width {
  padding: 105px 50px;
}

.mkdf-page-footer .mkdf-footer-bottom-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  background-color: #191919;
  box-sizing: border-box;
  text-align: center;
  color: #9c9c9c;
}

.mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner {
  box-sizing: border-box;
}

.mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner .widget {
  margin-bottom: 0;
}

.mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner.mkdf-grid {
  padding: 14px 0;
}

.mkdf-page-footer .mkdf-footer-bottom-holder .mkdf-footer-bottom-inner.mkdf-full-width {
  padding: 14px 50px;
}

/* ==========================================================================
   Footer style - end
   ========================================================================== */
/* ==========================================================================
   Footer styles - end
   ========================================================================== */

/*# sourceMappingURL=../css/footer-map.css.map */
