/* ==========================================================================
   Blog styles - begin
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* ==========================================================================
   Blog Common style - begin
   ========================================================================== */
.mkdf-blog-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 40px;
  clear: both;
}

.mkdf-blog-holder article {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

.mkdf-blog-holder article.sticky .mkdf-post-title a {
  color: #4dc7ed;
}

.mkdf-blog-holder article .mkdf-post-content {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mkdf-blog-holder article .mkdf-post-read-more-button {
  margin-top: 15px;
}

.mkdf-blog-holder article .mkdf-post-read-more-button a {
  text-transform: none;
  color: #4dc7ed;
}

.mkdf-blog-holder article .mkdf-post-image {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}

.mkdf-blog-holder article .mkdf-post-image img {
  display: block;
}

.mkdf-blog-holder article .mkdf-post-image-background {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.mkdf-blog-holder article .mkdf-post-image-background a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.mkdf-blog-holder article .mkdf-post-image-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  line-height: 1;
  color: #fff;
}

.mkdf-blog-holder article .mkdf-post-text {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

.mkdf-blog-holder article .mkdf-post-title {
  margin: 0;
}

.mkdf-blog-holder article .mkdf-post-excerpt-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 15px 0 0;
}

.mkdf-blog-holder article .mkdf-post-excerpt-holder p {
  margin: 0;
}

.mkdf-blog-holder article .mkdf-post-excerpt:after {
  content: '...';
}

.mkdf-blog-holder article .mkdf-more-link-container {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 15px 0 0;
}

.mkdf-blog-holder article .mkdf-post-info {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mkdf-blog-holder article .mkdf-post-info > * {
  position: relative;
  display: inline-block;
  vertical-align: top;
  color: currentColor;
}

.mkdf-blog-holder article .mkdf-post-info > * a {
  color: inherit;
}

.mkdf-blog-holder article .mkdf-post-info-top {
  margin-bottom: 5px;
}

.mkdf-blog-holder article .mkdf-post-info-top .mkdf-post-info-category a {
  color: #969696;
}

.mkdf-blog-holder article .mkdf-post-info-top > div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0 6px 0 0;
  font-size: 13px;
}

.mkdf-blog-holder article .mkdf-post-info-top > div:after {
  content: '/';
  position: absolute;
  top: 0;
  right: -1px;
}

.mkdf-blog-holder article .mkdf-post-info-top > div:last-child {
  padding: 0;
}

.mkdf-blog-holder article .mkdf-post-info-top > div:last-child:after {
  content: '';
}

.mkdf-blog-holder article .mkdf-post-info-top > div a {
  color: inherit;
}

.mkdf-blog-holder article .mkdf-post-info-top > div a:hover {
  color: #4dc7ed;
}

.mkdf-blog-holder article .mkdf-post-info-bottom {
  padding-top: 21px;
  margin-top: 14px;
  border-top: 1px solid #e1e1e1;
}

.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-left,
.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-right {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-comments i {
  margin-right: 4px;
}

.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-blog-like i {
  margin-right: 4px;
}

@media only screen and (min-width: 769px) {
  .mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-left,
  .mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-right {
    width: 50%;
  }
  .mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-left {
    float: left;
  }
  .mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-right {
    text-align: right;
    float: right;
  }
}

.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-right > div {
  margin-left: 17px;
  display: inline-block;
}

.mkdf-blog-holder article .mkdf-post-info-bottom .mkdf-post-info-bottom-right > div:first-child {
  margin-left: 0;
}

.mkdf-blog-holder article.format-link .mkdf-post-text {
  padding: 31px 26px 26px;
  background-color: #ffcc00;
}

.mkdf-blog-holder article.format-link .mkdf-post-text-main {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  text-align: left;
}

.mkdf-blog-holder article.format-link .mkdf-post-mark {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  width: 50px;
  vertical-align: top;
  text-align: left;
}

.mkdf-blog-holder article.format-link .mkdf-post-mark .mkdf-link-mark {
  padding-top: 5px;
  font-size: 28px;
  color: #231f20;
}

.mkdf-blog-holder article.format-link .mkdf-post-link-holder {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  vertical-align: top;
  text-align: left;
}

.mkdf-blog-holder article.format-link .mkdf-link-title a:hover {
  color: #000000;
}

.mkdf-blog-holder article.format-quote .mkdf-post-text {
  padding: 31px 26px 26px 19px;
  background-color: #ffcc00;
}

.mkdf-blog-holder article.format-quote .mkdf-post-text-main {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  text-align: left;
}

.mkdf-blog-holder article.format-quote .mkdf-post-mark {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  width: 50px;
  vertical-align: top;
  text-align: left;
  top: -10px;
}

.mkdf-blog-holder article.format-quote .mkdf-post-mark .mkdf-quote-mark {
  padding-top: 5px;
  font-size: 40px;
  color: #231f20;
}

.mkdf-blog-holder article.format-quote .mkdf-post-link-holder {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  vertical-align: top;
  text-align: left;
}

.mkdf-blog-holder article.format-quote .mkdf-post-author {
  display: inline-block;
  margin-bottom: 23px;
  font-size: 13px;
  line-height: 20px;
}

.mkdf-blog-holder article.format-quote .mkdf-quote-author {
  color: #000000;
  margin-top: 9px;
  display: block;
}

.mkdf-blog-holder article.format-quote .mkdf-quote-title a:hover {
  color: #000000;
}

.mkdf-blog-holder article.format-gallery .mkdf-post-image {
  width: 100%;
}

.mkdf-blog-holder article.format-gallery .owl-carousel .owl-item {
  z-index: 2;
}

.mkdf-blog-holder article.format-gallery .owl-carousel .owl-item.active {
  z-index: 3;
}

.mkdf-blog-holder article.format-gallery .owl-nav .owl-prev,
.mkdf-blog-holder article.format-gallery .owl-nav .owl-next {
  color: #fff;
  border-color: #fff;
}

.mkdf-blog-holder article.format-audio.has-post-thumbnail .mkdf-post-heading {
  position: relative;
}

.mkdf-blog-holder article.format-audio.has-post-thumbnail .mkdf-blog-audio-holder {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.mkdf-blog-holder article.format-audio .mkdf-post-image {
  width: 100%;
  max-width: inherit;
}

.mkdf-blog-holder article.format-audio .mkdf-post-image img {
  width: 100%;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container, .mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-embed, .mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-embed body, .mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls {
  background: none;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container {
  background-color: #000000;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container,
.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls {
  height: 38px !important;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls {
  padding: 0 10px 0 4px;
  box-sizing: border-box;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button {
  width: 39px;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button {
  width: 30px;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button,
.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button {
  height: 38px;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button button,
.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button button {
  position: relative;
  height: 100%;
  background: none;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  border: 0;
  outline: none;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-play button,
.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-play button {
  width: 39px;
  background-image: url("../img/audio/play.png");
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-pause button,
.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-pause button {
  width: 39px;
  background-image: url("../img/audio/pause.png");
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-stop button,
.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-stop button {
  width: 39px;
  background-image: url("../img/audio/stop.png");
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-mute button,
.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-mute button {
  width: 30px;
  background-image: url("../img/audio/sound.png");
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-playpause-button.mejs-unmute button,
.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-volume-button.mejs-unmute button {
  width: 30px;
  background-image: url("../img/audio/mute.png");
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time {
  height: 100%;
  padding: 0;
  font-family: inherit;
  font-size: 13px;
  color: #fff;
  line-height: 36px;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail {
  height: 100%;
  padding: 0;
  font-family: inherit;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total {
  height: 5px;
  margin: 15px 14px;
  background: none;
  background-color: #fff;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-current {
  height: 5px;
  background-color: #4dc7ed;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-float {
  top: -14px;
  border: 0;
  color: #fff;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-float .mejs-time-float-corner {
  border-top-color: #000000;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-loaded,
.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > .mejs-time-rail .mejs-time-total .mejs-time-float {
  background: none;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider {
  height: 38px;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  height: 5px;
  top: 15px;
  background: none;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  background-color: #fff;
}

.mkdf-blog-holder article.format-audio .mkdf-blog-audio-holder .mejs-container .mejs-controls > a.mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background-color: #4dc7ed;
}

.mkdf-blog-holder article.format-video .mkdf-self-hosted-video {
  max-width: 100%;
}

.mkdf-blog-holder article.format-video .mkdf-blog-video-holder .fluidvids {
  position: relative;
  padding-bottom: 56.25% !important;
  /* Because of script inline css. This is 16:9 fix */
  padding-top: 0 !important;
  /* Because of script inline css. This is 16:9 fix */
  height: 0;
}

/* Editing width of whole container - related to design */
.single-post .mkdf-grid-row,
.page-template-blog-standard .mkdf-grid-row {
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
  .single-post .mkdf-grid-row,
  .page-template-blog-standard .mkdf-grid-row {
    width: 100%;
  }
}

/* ==========================================================================
   Blog Common style - end
   ========================================================================== */
/* ==========================================================================
   Blog Masonry general style - begin
   ========================================================================== */
.mkdf-blog-holder.mkdf-blog-type-masonry {
  /***** Number of Columns - begin *****/
  /***** Number of Columns - end *****/
  /***** Space on container if full width - start *****/
  /***** Space on container if full width - end *****/
}

.mkdf-blog-holder.mkdf-blog-type-masonry .mkdf-blog-holder-inner {
  opacity: 0;
}

.mkdf-blog-holder.mkdf-blog-type-masonry article {
  float: left;
}

.mkdf-blog-holder.mkdf-blog-type-masonry article,
.mkdf-blog-holder.mkdf-blog-type-masonry .mkdf-blog-masonry-grid-sizer {
  width: 100%;
}

.mkdf-blog-holder.mkdf-blog-type-masonry .mkdf-blog-masonry-grid-gutter {
  width: 0;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-two-columns article,
.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-two-columns .mkdf-blog-masonry-grid-sizer {
  width: 50%;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-two-columns article.mkdf-post-size-large-width, .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-two-columns article.mkdf-post-size-large-width-height {
  width: 100%;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-three-columns article,
.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-three-columns .mkdf-blog-masonry-grid-sizer {
  width: 33.33333%;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-three-columns article.mkdf-post-size-large-width, .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-three-columns article.mkdf-post-size-large-width-height {
  width: 66.66667%;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-four-columns article,
.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-four-columns .mkdf-blog-masonry-grid-sizer {
  width: 25%;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-four-columns article.mkdf-post-size-large-width, .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-four-columns article.mkdf-post-size-large-width-height {
  width: 50%;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns article,
.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns .mkdf-blog-masonry-grid-sizer {
  width: 20%;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns article.mkdf-post-size-large-width, .mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-five-columns article.mkdf-post-size-large-width-height {
  width: 40%;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-masonry-full-width {
  box-sizing: border-box;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-masonry-full-width.mkdf-no-space {
  padding: 0 0px;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-masonry-full-width.mkdf-tiny-space {
  padding: 0 10px;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-masonry-full-width.mkdf-small-space {
  padding: 0 20px;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-masonry-full-width.mkdf-normal-space {
  padding: 0 30px;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-masonry-full-width.mkdf-medium-space {
  padding: 0 40px;
}

.mkdf-blog-holder.mkdf-blog-type-masonry.mkdf-blog-masonry-full-width.mkdf-large-space {
  padding: 0 50px;
}

/* ==========================================================================
   Blog Masonry general style - end
   ========================================================================== */
/* ==========================================================================
   Blog List - Standard style - begin
   ========================================================================== */
.mkdf-blog-holder.mkdf-blog-standard article {
  margin: 0 0 50px;
  padding: 0;
}

.mkdf-blog-holder.mkdf-blog-standard article.mkdf-post-has-media .mkdf-post-heading {
  margin-bottom: 24px;
}

/* ==========================================================================
   Blog List - Standard style - end
   ========================================================================== */
/* Single author box styles - begin
	====================================================================== */
.mkdf-author-description {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  box-sizing: border-box;
}

.mkdf-author-description .mkdf-author-description-inner {
  padding: 35px 0 28px;
  border-bottom: 1px solid #e1e1e1;
  min-height: 94px;
}

.mkdf-author-description .mkdf-author-description-content {
  position: relative;
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.mkdf-author-description .mkdf-author-description-image {
  margin: 0 auto;
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  width: 94px;
  vertical-align: top;
}

.mkdf-author-description .mkdf-author-description-image img {
  display: block;
  border-radius: 5em;
}

.mkdf-author-description .mkdf-author-description-text-holder {
  position: relative;
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  width: auto;
  vertical-align: top;
  padding-left: 15px;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-name {
  margin: 0;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-name a {
  color: #000000;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-name a:hover {
  color: #4dc7ed;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-email {
  margin: 0;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-text {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-text > p {
  margin: 7px 0 9px;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-social-icons {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-social-icons a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0 15px 0 0;
  font-size: 14px;
  color: #4f4f4f;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-social-icons a:last-child {
  margin: 0;
}

.mkdf-author-description .mkdf-author-description-text-holder .mkdf-author-social-icons a:hover {
  color: #4dc7ed;
}

@media only screen and (max-width: 768px) {
  .mkdf-author-description .mkdf-author-description-content {
    padding: 0;
  }
  .mkdf-author-description .mkdf-author-description-image {
    display: block;
    width: 100%;
  }
  .mkdf-author-description .mkdf-author-description-text-holder {
    display: block;
    padding: 0;
    margin-top: 30px;
  }
}

/* Single author box styles - end
	====================================================================== */
/* ==========================================================================
   Blog pagination standard style - begin
   ========================================================================== */
.mkdf-blog-pagination-wp {
  display: none;
}

.mkdf-blog-pagination {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 30px 0 30px;
  padding-top: 20px;
  border-top: 1px solid #e1e1e1;
  clear: both;
}

.mkdf-blog-pagination ul {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.mkdf-blog-pagination ul li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.mkdf-blog-pagination ul li a {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0 5px;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  color: #5b5a5a;
  -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  box-sizing: border-box;
  border: 1px solid transparent;
  line-height: 20px;
  height: 20px;
  width: 20px;
}

.mkdf-blog-pagination ul li a.mkdf-pag-active, .mkdf-blog-pagination ul li a:hover {
  color: #4dc7ed;
  border-color: #4dc7ed;
}

.mkdf-blog-pagination ul li.mkdf-pag-prev, .mkdf-blog-pagination ul li.mkdf-pag-next, .mkdf-blog-pagination ul li.mkdf-pag-first, .mkdf-blog-pagination ul li.mkdf-pag-last {
  position: absolute;
}

.mkdf-blog-pagination ul li.mkdf-pag-prev a, .mkdf-blog-pagination ul li.mkdf-pag-next a, .mkdf-blog-pagination ul li.mkdf-pag-first a, .mkdf-blog-pagination ul li.mkdf-pag-last a {
  border: 1px solid #e1e1e1;
}

.mkdf-blog-pagination ul li.mkdf-pag-prev a:hover, .mkdf-blog-pagination ul li.mkdf-pag-next a:hover, .mkdf-blog-pagination ul li.mkdf-pag-first a:hover, .mkdf-blog-pagination ul li.mkdf-pag-last a:hover {
  border-color: #4dc7ed;
}

.mkdf-blog-pagination ul li.mkdf-pag-prev a span, .mkdf-blog-pagination ul li.mkdf-pag-next a span, .mkdf-blog-pagination ul li.mkdf-pag-first a span, .mkdf-blog-pagination ul li.mkdf-pag-last a span {
  display: block;
  line-height: inherit;
}

.mkdf-blog-pagination ul li.mkdf-pag-prev a span:before, .mkdf-blog-pagination ul li.mkdf-pag-next a span:before, .mkdf-blog-pagination ul li.mkdf-pag-first a span:before, .mkdf-blog-pagination ul li.mkdf-pag-last a span:before {
  display: block;
  line-height: inherit;
}

.mkdf-blog-pagination ul li.mkdf-pag-prev a, .mkdf-blog-pagination ul li.mkdf-pag-next a {
  line-height: 18px;
}

.mkdf-blog-pagination ul li.mkdf-pag-prev {
  left: 0;
}

.mkdf-blog-pagination ul li.mkdf-pag-next {
  right: 0;
}

.mkdf-blog-pagination ul li.mkdf-pag-first {
  left: -26px;
}

.mkdf-blog-pagination ul li.mkdf-pag-last {
  right: -26px;
}

/* ==========================================================================
   Blog pagination standard style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode pagination standard style - begin
   ========================================================================== */
.mkdf-blog-list-holder.mkdf-bl-pag-standard-blog-list .mkdf-blog-list {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.mkdf-blog-list-holder.mkdf-bl-pag-standard-blog-list.mkdf-bl-pag-standard-blog-list-animate .mkdf-blog-list {
  opacity: 0;
}

.mkdf-bl-standard-pagination {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 20px 0 0;
  clear: both;
}

.mkdf-bl-standard-pagination ul {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.mkdf-bl-standard-pagination ul li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 12px;
  padding: 0;
}

.mkdf-bl-standard-pagination ul li a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.mkdf-bl-standard-pagination ul li.mkdf-bl-pag-active a {
  color: #4dc7ed;
}

.mkdf-bl-standard-pagination ul li.mkdf-bl-pag-prev, .mkdf-bl-standard-pagination ul li.mkdf-bl-pag-next {
  position: absolute;
  top: 0;
}

.mkdf-bl-standard-pagination ul li.mkdf-bl-pag-prev a, .mkdf-bl-standard-pagination ul li.mkdf-bl-pag-next a {
  font-size: 30px;
  -webkit-transition: color 0.2s ease-out, opacity 0.2s ease-out;
  -moz-transition: color 0.2s ease-out, opacity 0.2s ease-out;
  transition: color 0.2s ease-out, opacity 0.2s ease-out;
}

.mkdf-bl-standard-pagination ul li.mkdf-bl-pag-prev a span, .mkdf-bl-standard-pagination ul li.mkdf-bl-pag-next a span {
  display: block;
  line-height: inherit;
}

.mkdf-bl-standard-pagination ul li.mkdf-bl-pag-prev a span:before, .mkdf-bl-standard-pagination ul li.mkdf-bl-pag-next a span:before {
  display: block;
  line-height: inherit;
}

.mkdf-bl-standard-pagination ul li.mkdf-bl-pag-prev {
  left: 0;
}

.mkdf-bl-standard-pagination ul li.mkdf-bl-pag-prev a {
  opacity: 0;
}

.mkdf-bl-standard-pagination ul li.mkdf-bl-pag-next {
  right: 0;
}

.mkdf-bl-standard-pagination ul li.mkdf-bl-pag-next a {
  opacity: 1;
}

/* ==========================================================================
   Blog List shortcode pagination standard style - end
   ========================================================================== */
/* ==========================================================================
   Blog pagination load more style - begin
   ========================================================================== */
.mkdf-blog-pag-load-more {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 40px 0 30px;
  text-align: center;
}

/* ==========================================================================
   Blog pagination load more style - end
   ========================================================================== */
/* ==========================================================================
   Blog pagination loading element style - begin
   ========================================================================== */
.mkdf-blog-pag-loading {
  position: relative;
  display: none;
  width: 100%;
  margin: 40px 0 20px;
  color: #000000;
  text-align: center;
}

.mkdf-blog-pag-loading.mkdf-standard-pag-trigger {
  position: absolute;
  top: 50px;
  left: 0;
}

.mkdf-blog-pag-loading.mkdf-showing {
  display: block;
}

.mkdf-blog-pag-loading > div {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  margin: 0 3px;
  background-color: #000000;
  border-radius: 100%;
  -webkit-animation: bl-pag-bouncedelay 1.4s infinite ease-in-out both;
  -moz-animation: bl-pag-bouncedelay 1.4s infinite ease-in-out both;
  animation: bl-pag-bouncedelay 1.4s infinite ease-in-out both;
}

.mkdf-blog-pag-loading .mkdf-blog-pag-bounce1 {
  -webkit-animation-delay: -0.32s;
  -moz-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.mkdf-blog-pag-loading .mkdf-blog-pag-bounce2 {
  -webkit-animation-delay: -0.16s;
  -moz-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bl-pag-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes bl-pag-bouncedelay {
  0%, 80%, 100% {
    -moz-transform: scale(0);
  }
  40% {
    -moz-transform: scale(1);
  }
}

@keyframes bl-pag-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* ==========================================================================
   Blog pagination loading element style - end
   ========================================================================== */
/* Single posts navigation styles - begin
    ====================================================================== */
.mkdf-blog-single-navigation {
  position: relative;
  display: table;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  clear: both;
  box-sizing: border-box;
  border-bottom: 1px solid #dadada;
}

.mkdf-blog-single-navigation .mkdf-blog-single-navigation-inner {
  padding: 34px 0;
}

.mkdf-blog-single-navigation .mkdf-blog-single-nav-wrapper {
  display: inline-block;
  float: left;
  width: 50%;
  vertical-align: middle;
}

.mkdf-blog-single-navigation .mkdf-blog-single-prev,
.mkdf-blog-single-navigation .mkdf-blog-single-next {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  min-height: 82px;
}

.mkdf-blog-single-navigation .mkdf-blog-single-prev .mkdf-blog-single-nav-image,
.mkdf-blog-single-navigation .mkdf-blog-single-next .mkdf-blog-single-nav-image {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  width: 82px;
  line-height: 0;
}

.mkdf-blog-single-navigation .mkdf-blog-single-prev .mkdf-blog-single-nav-image img,
.mkdf-blog-single-navigation .mkdf-blog-single-next .mkdf-blog-single-nav-image img {
  width: 82px;
  display: block;
}

.mkdf-blog-single-navigation .mkdf-blog-single-prev .mkdf-blog-single-nav-text,
.mkdf-blog-single-navigation .mkdf-blog-single-next .mkdf-blog-single-nav-text {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

.mkdf-blog-single-navigation .mkdf-blog-single-prev .mkdf-blog-single-nav-text > span,
.mkdf-blog-single-navigation .mkdf-blog-single-next .mkdf-blog-single-nav-text > span {
  display: inline-block;
  width: 100%;
}

.mkdf-blog-single-navigation .mkdf-blog-single-prev .mkdf-blog-single-nav-text .mkdf-blog-single-nav-title,
.mkdf-blog-single-navigation .mkdf-blog-single-next .mkdf-blog-single-nav-text .mkdf-blog-single-nav-title {
  color: #969696;
}

.mkdf-blog-single-navigation .mkdf-blog-single-prev.mkdf-no-nav-image .mkdf-blog-single-nav-image,
.mkdf-blog-single-navigation .mkdf-blog-single-next.mkdf-no-nav-image .mkdf-blog-single-nav-image {
  display: none;
}

.mkdf-blog-single-navigation .mkdf-blog-single-prev.mkdf-no-nav-image .mkdf-blog-single-nav-text,
.mkdf-blog-single-navigation .mkdf-blog-single-next.mkdf-no-nav-image .mkdf-blog-single-nav-text {
  width: 100%;
  padding: 0;
}

.mkdf-blog-single-navigation .mkdf-blog-single-prev .mkdf-blog-single-nav-text {
  padding-left: 25px;
}

.mkdf-blog-single-navigation .mkdf-blog-single-next {
  text-align: right;
}

.mkdf-blog-single-navigation .mkdf-blog-single-next .mkdf-blog-single-nav-text {
  padding-right: 25px;
}

.mkdf-single-links-pages {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 30px 0 30px;
  padding-top: 20px;
  border-top: 1px solid #e1e1e1;
  clear: both;
}

.mkdf-single-links-pages .mkdf-single-links-pages-inner > a,
.mkdf-single-links-pages .mkdf-single-links-pages-inner > span {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0 5px;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  color: #5b5a5a;
  -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  box-sizing: border-box;
  border: 1px solid transparent;
  line-height: 20px;
  height: 20px;
  width: 20px;
  text-align: center;
}

.mkdf-single-links-pages .mkdf-single-links-pages-inner > span {
  color: #4dc7ed;
  border-color: #4dc7ed;
}

.mkdf-single-links-pages .mkdf-single-links-pages-inner > a:hover {
  color: #4dc7ed;
  border-color: #4dc7ed;
}

/* Single posts navigation styles - end
    ====================================================================== */
/* Related posts styles - begin
	====================================================================== */
.mkdf-related-posts-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  box-sizing: border-box;
}

.mkdf-related-posts-holder .mkdf-related-posts-holder-inner {
  padding: 46px 0 26px;
}

.mkdf-related-posts-holder .mkdf-related-posts-title {
  margin: 0 0 40px;
}

.mkdf-related-posts-holder .mkdf-related-posts-title > * {
  margin: 0;
}

.mkdf-related-posts-holder .mkdf-related-posts-inner {
  margin: 0 -15px;
}

.mkdf-related-posts-holder .mkdf-related-post {
  position: relative;
  display: inline-block;
  float: left;
  width: 25%;
  margin: 0 0 30px;
  padding: 0 15px;
  box-sizing: border-box;
}

.mkdf-content-has-sidebar .mkdf-related-posts-holder .mkdf-related-post {
  widtH: 33.33333333333333%;
}

.touch .mkdf-related-posts-holder .mkdf-related-post {
  cursor: pointer;
}

.mkdf-related-posts-holder .mkdf-related-post:hover .mkdf-related-post-image a:after {
  opacity: 1;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-related-post-image {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  overflow: hidden;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-related-post-image a {
  position: relative;
  display: block;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-related-post-image a:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-related-post-image img {
  display: block;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-title {
  margin: 19px 0 0;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-info {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 4px 0 0;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-info > div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 0 13px 0 0;
  color: inherit;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-info > div:after {
  position: absolute;
  top: 0;
  right: 4px;
  content: '/';
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-info > div:last-child {
  padding: 0;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-info > div:last-child:after {
  display: none;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-info > div.mkdf-post-info-author .mkdf-post-info-author-text {
  margin: 0 3px 0 0;
}

.mkdf-related-posts-holder .mkdf-related-post .mkdf-post-info > div a {
  color: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/* Related posts styles - end
	====================================================================== */
/* ==========================================================================
   Blog Single style - begin
   ========================================================================== */
.mkdf-blog-holder.mkdf-blog-single article {
  margin: 0;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-heading {
  margin-bottom: 33px;
}

.mkdf-blog-holder.mkdf-blog-single article.format-standard .mkdf-post-text, .mkdf-blog-holder.mkdf-blog-single article.format-video .mkdf-post-text, .mkdf-blog-holder.mkdf-blog-single article.format-gallery .mkdf-post-text {
  padding: 0 0 73px;
  border-bottom: 1px solid #e1e1e1;
}

.mkdf-blog-holder.mkdf-blog-single article.format-quote, .mkdf-blog-holder.mkdf-blog-single article.format-link {
  padding: 0 0 73px;
  border-bottom: 1px solid #e1e1e1;
}

.mkdf-blog-holder.mkdf-blog-single article .mkdf-post-info-bottom {
  margin-top: 28px;
}

/* ==========================================================================
   Blog Single style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode global style - begin
   ========================================================================== */
.mkdf-blog-list-holder {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  clear: both;
}

.mkdf-blog-list-holder .mkdf-blog-list {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  list-style: none;
  margin: 0;
  padding: 0;
}

.mkdf-blog-list-holder .mkdf-bl-item {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mkdf-blog-list-holder .mkdf-bli-inner {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.mkdf-blog-list-holder .mkdf-bli-content {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

.mkdf-blog-list-holder .mkdf-post-image {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 30px;
}

.mkdf-blog-list-holder .mkdf-post-image a {
  display: block;
}

.mkdf-blog-list-holder .mkdf-post-image a:hover:after {
  opacity: 1;
}

.mkdf-blog-list-holder .mkdf-post-image a:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.mkdf-blog-list-holder .mkdf-post-image img {
  display: block;
}

.mkdf-blog-list-holder .mkdf-bli-info {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 8px;
  clear: both;
}

.mkdf-blog-list-holder .mkdf-bli-info > div {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  line-height: 1.2;
  float: left;
  padding: 0 20px 5px 0;
}

.mkdf-blog-list-holder .mkdf-bli-info > div:last-child {
  padding: 0 0 5px;
}

.mkdf-blog-list-holder .mkdf-bli-info > div a {
  color: #5b5a5a;
}

.mkdf-blog-list-holder .mkdf-bli-info > div a:hover {
  color: #4dc7ed;
}

.mkdf-blog-list-holder .mkdf-post-title {
  margin: 0;
}

.mkdf-blog-list-holder .mkdf-post-excerpt {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 13px 0 0;
}

.mkdf-blog-list-holder .mkdf-post-excerpt p {
  margin: 0;
}

.mkdf-blog-list-holder .mkdf-post-excerpt:after {
  content: '...';
}

.mkdf-blog-list-holder .mkdf-post-read-more-button {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 12px 0 0;
}

/* ==========================================================================
   Blog List shortcode global style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Masonry type style - begin
   ========================================================================== */
.mkdf-blog-list-holder.mkdf-bl-masonry {
  transition: none !important;
  overflow: visible !important;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-blog-list {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-bl-item {
  vertical-align: top;
  z-index: 100;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-bl-item,
.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-bl-grid-sizer {
  width: 100%;
}

.mkdf-blog-list-holder.mkdf-bl-masonry .mkdf-bl-grid-gutter {
  width: 0;
}

.mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-two-columns .mkdf-bl-item,
.mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-two-columns .mkdf-bl-grid-sizer {
  width: 50%;
}

.mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-three-columns .mkdf-bl-item,
.mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-three-columns .mkdf-bl-grid-sizer {
  width: 33.33333%;
}

.mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-four-columns .mkdf-bl-item,
.mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-four-columns .mkdf-bl-grid-sizer {
  width: 25%;
}

.mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-five-columns .mkdf-bl-item,
.mkdf-blog-list-holder.mkdf-bl-masonry.mkdf-bl-five-columns .mkdf-bl-grid-sizer {
  width: 20%;
}

/* ==========================================================================
   Blog List shortcode - Masonry type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Simple type style - begin
   ========================================================================== */
.mkdf-blog-list-holder.mkdf-bl-simple .mkdf-post-image {
  display: table-cell;
  vertical-align: top;
  width: 44px;
}

.mkdf-blog-list-holder.mkdf-bl-simple .mkdf-bli-content {
  display: table-cell;
  vertical-align: top;
  width: auto;
  padding-left: 9px;
}

.mkdf-blog-list-holder.mkdf-bl-simple .mkdf-bli-content .mkdf-post-info-date {
  display: block;
  margin: 4px 0 0;
  line-height: 1;
}

.mkdf-blog-list-holder.mkdf-bl-simple .mkdf-bli-content .mkdf-post-info-date a {
  font-size: 13px;
  color: #bebebe;
}

.mkdf-blog-list-holder.mkdf-bl-simple .mkdf-bli-content .mkdf-post-info-date a:hover {
  color: #bebebe;
}

/* ==========================================================================
   Blog List shortcode - Simple type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List shortcode - Standard type style - begin
   ========================================================================== */
.mkdf-blog-list-holder.mkdf-bl-standard:not(.mkdf-bl-one-column) .mkdf-bl-item {
  float: left;
}

.mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-two-columns .mkdf-bl-item {
  width: 50%;
}

@media only screen and (min-width: 1025px) {
  .mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-two-columns .mkdf-bl-item:nth-child(2n+1) {
    clear: both;
  }
}

.mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-three-columns .mkdf-bl-item {
  width: 33.33333%;
}

@media only screen and (min-width: 1025px) {
  .mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-three-columns .mkdf-bl-item:nth-child(3n+1) {
    clear: both;
  }
}

.mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-four-columns .mkdf-bl-item {
  width: 25%;
}

@media only screen and (min-width: 1281px) {
  .mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-four-columns .mkdf-bl-item:nth-child(4n+1) {
    clear: both;
  }
}

.mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-five-columns .mkdf-bl-item {
  width: 20%;
}

@media only screen and (min-width: 1281px) {
  .mkdf-blog-list-holder.mkdf-bl-standard.mkdf-bl-five-columns .mkdf-bl-item:nth-child(5n+1) {
    clear: both;
  }
}

/* ==========================================================================
   Blog List shortcode - Standard type style - end
   ========================================================================== */
/* ==========================================================================
   Blog List loading element style - begin
   ========================================================================== */
.mkdf-bl-loading {
  position: relative;
  display: none;
  width: 100%;
  margin: 40px 0 20px;
  text-align: center;
}

.mkdf-bl-loading.mkdf-showing {
  display: block;
}

.mkdf-bl-loading > div {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  margin: 0 3px;
  background-color: #000000;
  border-radius: 100%;
  -webkit-animation: bl-bouncedelay 1.4s infinite ease-in-out both;
  -moz-animation: bl-bouncedelay 1.4s infinite ease-in-out both;
  animation: bl-bouncedelay 1.4s infinite ease-in-out both;
}

.mkdf-bl-loading .mkdf-bl-loading-bounce1 {
  -webkit-animation-delay: -0.32s;
  -moz-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.mkdf-bl-loading .mkdf-bl-loading-bounce2 {
  -webkit-animation-delay: -0.16s;
  -moz-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bl-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes bl-bouncedelay {
  0%, 80%, 100% {
    -moz-transform: scale(0);
  }
  40% {
    -moz-transform: scale(1);
  }
}

@keyframes bl-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* ==========================================================================
   Blog List loading element style - end
   ========================================================================== */
/* ==========================================================================
   Blog styles - end
   ========================================================================== */

/*# sourceMappingURL=../css/blog-map.css.map */
